.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.slot {
    border: 1px solid black;
    font-size: 100px;
    font-family: arial;
}