.board {
    display: grid;
    margin-left: 20px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

}

.square {
    border-style: solid;
    font-size: xx-large;
}