<!DOCTYPE html>
<html>
    <head>
        <title>Unbeatable Tic-tac-toe</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script defer src="../static/scripts.js"></script>
    </head>
    <body>
        <h1>Unbeatable Tic-tac-toe</h1>

        <div class="container">
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
            <div>hola</div>
        </div>

        <p>
            Tic-tac-toe game against an agent.
            Agent selects optimal move acording to a <a href="https://en.wikipedia.org/wiki/Minimax">Minimax search</a> algorithm.
        </p>
    </body>
</html>